.heading {
  width: 100%;
  position: relative;
}
.nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-right: 6%;
  padding-left: 1%;
  flex: 1;
  position: absolute;
  left: 22%;
}
.nav li {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 8px 72px;
  font-size: 2em;
  cursor: pointer;
}
.nav li::after {
  content: "";
  background: rgb(48, 8, 8);
  height: 3px;
  width: 0%;
  display: block;
  margin: auto;
  margin-top: 1px;
  transition: 1s;
}
.nav li:hover::after {
  width: 100%;
}
